     body {
            background-color: black;
            color: white;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        .js-result {

            font-size: 24px;
            font-weight: bold;
        }

        h3 {
            font-size: 36px;
            font-weight: bold;
        }

        img {
            background-color: transparent;
            border: 5px solid rgb(255, 255, 255);
            border-radius: 50%;
            margin: none;
            cursor: pointer;
            padding: auto;
        }

        button {
            padding: auto;
            margin: 10px;

        }

        .restButton {
            background-color: rgb(233, 8, 132);
            border: none;
            color: #ffffff;
            padding: 10px 20px;
            border-radius: 50px;
            cursor: pointer;
        }

        .js-result {
            font-size: 30px;
            font-weight: bold;
            text-align: center;
            text-transform: capitalize;

        }

        .moves {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-top: 30px;
            padding: 30px;
            letter-spacing: 2px;
            word-spacing: 15px;
        }
        .js-score {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            padding: 20px;
            letter-spacing: 2px;
            word-spacing: 15px;
        }
        
